@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Outfit:wght@400;700&family=Red+Hat+Mono:wght@400;700&family=Space+Mono:wght@400;700&display=swap');
:root
{
    --body-bg-color: #141d2f;
    --body-bg-color-darker: #141d2f;
    --head-color: #ffffff;
    --darklight-color: #ffffff;
    --search-bg-color: #1e2a47;
    --black: white;
    --follow-bg-color: #f6f8ff;
    --follow-color: white;
    --followTotal-color: #ffffff;
    --social-color: white;
    --search-color: rgba(50, 142, 255, 0.748);
}

.lightmode
{
    --body-bg-color: #ededee;
    --body-bg-color-darker: rgb(41, 66, 94);
    --head-color: #222731;
    --darklight-color: #363c45;
    --search-bg-color: #3a5c7c;
    --black: black;
    --follow-color: #4b6a9b;
    --followTotal-color: #2b3442;
    --search-color: rgba(114, 177, 255, 0.748);
}

body
{
    margin: 0;
    padding: 0;
    background-color: var(--body-bg-color);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Mono', monospace;
    font-family: 'Space Mono', monospace;
    transition: all .5s ease-in-out;
}

main
{   
    width: 370px;
}

section
{
    margin: 0 2rem 0 2rem;
}

.switch
{
    margin-bottom: 2rem;
}

.header-text
{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: 20px;
    color: var(--head-color);
}

.switch-button
{
    background: none;
    border: none;
    color: var(--head-color);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .1rem;
    padding: 0;
    transition: all .2s ease;
}

.switch-button:hover
{
    cursor: pointer;
    transform: translateX(-5px);
}

.switch-button i
{
    margin-left: .5rem;
}

.header-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searcher
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: 15px;
    background-color: var(--search-bg-color);
}

.searcher i 
{
    color: var(--search-color);
    font-size: 25px;
    margin-right: .5rem;
}

.search-text
{
    display: flex;
}

.search-button
{
    background: none;
    border: none;
    height: 100%;
    background-color: var(--search-color);
    color: var(--black);
    opacity: .8;
    padding: 1rem;
    font-weight: 700;
    border-radius: 10px;
    transition: all .2s ease;
}

.search-button:hover
{
    cursor: pointer;
    opacity: 1;
}

.account-content
{
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 1rem;
}

.avatar img
{
    background-color: var(--black);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.account-data
{
    display: flex;
    justify-content: space-between;
    background-color: var(--body-bg-color-darker);
    padding: 1rem 2rem;
    border-radius: 15px;
}

input
{
    background: none;
    border: none;
    outline: none;
    color: var(--black);
}

input::placeholder
{
    color: var(--black);
    opacity: .5;
}

.account
{
    margin-top: 1rem;
    background-color: var(--search-bg-color);
    border-radius: 15px;
    padding: 2rem 1.5rem;
}

.account-info
{
    display: grid;
    align-content: center;
}

.username-data
{
    color: var(--black);
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: 14px;
}

.id-data
{
    color: var(--search-color);
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    margin-top: .5rem;
}

.join-data
{
    color: var(--black);
    font-family: 'Red Hat Mono', monospace;
    font-size: 12px;
    margin-top: .5rem;
    opacity: .7;
}

.bio-data
{
    color: var(--black);
    margin: 1.5rem 0;
    font-size: 12px;
    letter-spacing: .2rem;
    font-family: 'Space Mono', monospace;
}

.location-data
{
    display: none;
}

h3
{
    color: var(--black);
    font-size: 10px;
    font-weight: 400;
    font-family: 'Red Hat Mono', monospace;
    margin: 0;
}

h2
{
    margin: 0;
    color: var(--black);
    font-size: 16px;
    margin-top: .5rem;
}

.data-class
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

@media (min-width: 768px) {
    main
    {
        width: 700px;
    }

    .account
    {
        margin-top: 1rem;
        padding: 2rem;
    }
    .searcher
    {
        padding: .5rem 1rem .5rem 2rem;
    }

    .account-content
    {
        gap: 2rem;
    }
    .avatar img
    {
        width: 110px;
        height: 110px;
    }
    .username-data
    {
        font-weight: 700;
        letter-spacing: .2rem;  
        font-size: 20px;
    }
    .id-data
    {
        font-size: 14px;
        margin-top: .4rem;
    }
    .join-data
    {
        font-size: 14px;
        margin-top: .4rem;
    }
    .bio-data
    {
        margin: 1.5rem 0;
        font-size: 14px;
        letter-spacing: .1rem;
    }

    h3
    {
        font-size: 14px;
        font-weight: 400;
    }
    h2
    {
        font-size: 20px;
        margin-top: .5rem;
    }
    .account-data
    {
        padding: 1rem 5rem;
    }
}

@media (min-width: 1440px)
{
    main
    {
        width: 1000px;
    }

    .account
    {
        margin-top: 1rem;
        padding: 3rem;
    }
    .account-content
    {
        gap: 2rem;
    }
    .account-info
    {
        display: grid;
        align-items: flex-start;
        gap: .5rem;
    }
    .join-data
    {
        font-size: 14px;
        margin-top: 0rem;
        order: 2;
        grid-area: 1 / 2 / 4 / 3;
        display: flex;
        justify-content: right;
    }
    .bio-data
    {
        margin: 1.5rem 0;
        font-size: 16px;
        letter-spacing: .1rem;
    }
    .location-data
    {
        display: flex;
        align-items: center;
        order: 4;
        color: var(--search-color);
        opacity: .7;
    }
    .location-text
    {
        margin-left: .3rem;
    }

    h3
    {
        font-size: 16px;
        font-weight: 400;
    }
    h2
    {
        font-size: 24px;
        margin-top: .5rem;
    }
    .account-data
    {
        padding: 1rem 8rem;
    }
}
